Body {
  text-align: center;
  background-color: #282c34;
  color: white;
}

footer {
  margin-top: 1em;
  font-size: 15px;
  text-align: center;
}

.coder {
  font-style: italic;
  color:cadetblue; 
  text-decoration: none;
}

