Body {
  background-color: #282c34;
  color: white;
}

footer {
  margin-top: 1em;
  font-size: 11px;
  text-align: center;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.coder {
  font-style: italic;
  color:cadetblue; 
  text-decoration: none;
}


