.container {
    margin-top: 5em;
    padding: 2em;
    border: 1px solid white;
    box-shadow: 5px 5px 5px rgba(172, 171, 171, 0.349);
    max-width: 600px;
}

.temperature {
    font-size: 75px;
    font-weight: bold;
    text-align: right;
    line-height: 75px;
}

.information li {
    list-style-type: none;
    text-align: left;
}

.unit {
    font-weight: bolder;
    font-size: 20px;
    position: relative;
    top: -40px;
    margin-left: 5px;
    line-height: 1;
}

.unit a {
    color: white;
    font-weight: 400l;
    font-size: 15px;
  }