.container {
    margin-top: 5em;
    padding: 2em;
    border: 1px solid white;
    box-shadow: 5px 5px 5px rgba(172, 171, 171, 0.349);
    max-width: 500px;
    min-height: 500px;
}

.weather-data-body {
    text-align: center;
}
  
.search-container {
	position: relative;
	display: inline-flex;
	margin: 4px 2px;
	height: 50px;
	width: 50px;
	vertical-align: bottom;
}

.button {
	display: inline-block;
	margin: 4px 2px;
	background-color: transparent;
    border: 1px solid white;
	font-size: 14px;
	padding-left: 32px;
	padding-right: 32px;
	height: 75%;
	line-height: 1.80em;
	text-align: center;
	color: white;
	text-decoration: none;
	cursor: pointer;
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
    position: absolute;
    z-index: 2;
}

.button:hover {
	transition-duration: 0.4s;
	-moz-transition-duration: 0.4s;
	-webkit-transition-duration: 0.4s;
	-o-transition-duration: 0.4s;
	background-color: white;
	color: black;
}

.searchbutton {
	position: absolute;
	font-size: 18px;
    font-weight: bolder;
	width: 75%;
	margin: 0;
	padding: 0;
}

.search:focus + .searchbutton {
	transition-duration: 0.4s;
	-moz-transition-duration: 0.4s;
	-webkit-transition-duration: 0.4s;
	-o-transition-duration: 0.4s;
	background-color: white;
	color: black;
}

.search {
	position: absolute;
	left: 37px; /* Button width-1px (Not 50px/100% because that will sometimes show a 1px line between the search box and button) */
	background-color: white;
	outline: none;
	border: none;
	padding: 0;
	width: 0;
	height: 75%;
	z-index: 10;
	transition-duration: 0.4s;
	-moz-transition-duration: 0.4s;
	-webkit-transition-duration: 0.4s;
	-o-transition-duration: 0.4s;
}

.search:focus {
	width: 380px; /* Bar width+1px */
	padding: 0 16px 0 0;
}

