h5 {
    margin-bottom: 0;
    font-weight: light;
    letter-spacing: 2px;
    font-size: 20px;
}

.city {
    opacity: 75%;
}

.country {
    opacity: 50%;
}

.FormattedDate {
    font-size: 13px;
    font-weight: lighter;
    opacity: 50%;
}

.unit {
    font-weight: bolder;
    font-size: 20px;
    position: relative;
    top: -40px;
    margin-left: 5px;
    line-height: 1;
    text-align: right;
}

.unit a {
    color: white;
    font-weight: 400l;
    font-size: 15px;
  }

  .temperature {
    font-size: 75px;
    font-weight: bold;
    text-align: right;
    line-height: 75px;
}

.information li {
    list-style-type: none;
    text-align: left;
    line-height: 1.5;
}