h5 {
    margin-bottom: 0;
    font-weight: light;
    letter-spacing: 2px;
    font-size: 20px;
    opacity: 75%;
}

.FormattedDate {
    font-size: 13px;
    font-weight: lighter;
    opacity: 50%;
}

.information li {
    line-height: 1.5;
}

